.user-profile{
 display: flex;
 height: 100vh;
 position: relative;
 margin: 0;
}

.left-user-profile{
  flex-grow: 1;
  padding: 40px 80px 50px;
  overflow-y: scroll;
  box-sizing: border-box;
}

.about-user-profile{
  display: flex;
  flex-direction: column;
}

.user-friend-list{
  display: flex;
  flex-wrap:wrap;
}

.right-user-profile{
  display: flex;
  flex-direction: column;
  align-items:center;
  background-image: linear-gradient(180deg, $darkpurple 0%, $lightpurple 87.15%);
  box-sizing: border-box;
  padding: 40px 30px;
  min-width: 20%;
}

.user-profile-image{
  position: relative;
  margin-bottom: 30px;
  width: 260px;
  height: 260px;
  p{
    margin: 8px auto 8px;
    text-align: center;
    color: rgba($darkpurple, 0.8);
    a{
      font-weight: bold;
      color: $darkpurple;
    }
  }
  .edit-button{
    position: absolute;
    top: 20px; 
    right: 20px;
    background-color: $lavenderpurple;
    color: $lightpurple;
    transform: scale(150%);
  }
  .rank-box{
    position: absolute;
    top:-10px; 
    right: 0px;
    display: inline-block;
    background-color: $purple;
    color: $lightpurple;
    padding: 3px 25px 3px 25px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
  }
  .round-avatar{
    height: 260px;
    width: 260px;
    object-fit: cover;
    border-radius: 50%;
    border: 12px solid $lavenderpurple;
  }
  .btn-purple{
    position:absolute;
    bottom: 0px;
    left: 5px;
    padding: 5px 8px;
    border-radius: 50%;
    border: none;
    background-color: $lavenderpurple;
    font-size: 20px;
    color: $darkpurple;
  }
}


.user-details{
  text-align:center;
  width:100%;
  h3{
    margin-bottom: 20px;
  }
}
