// Specific CSS for your home-page
a{
  text-decoration: none;
  color: $darkpurple;
  &:hover{
    color:$purple;
    text-decoration: none;
  }
}

.logo{
  font-family: $logo-font;
  font-size: 30px;
  font-weight: 800;
  color: $lavenderpurple;
  letter-spacing: 3px;
}

.flexbox{
  min-height: 100vh;
  position:relative;
  display:grid;
  grid-template-columns: 3fr 17fr;
}

.view{
  background-color: $whitepurple;
  grid-column: 2 / span 1;
}

.inactive{
  display:none;
  transition: 1s ease-in-out;
}

.narrow-container{
  width: 70%;
}
.message-container{
  width: 100%;
  align-items:flex-start;
}
.message-background{
  background-color: $lightpurple;
  width: 100%;
  padding: 10px 20px 4px;
  border-radius:20px;
  box-sizing:border-box;
  margin-bottom: 20px;
}