// Specific CSS for your home-page



.flexbox{
  min-height: 100vh;
  position:relative;
  display:flex;
  overflow: scroll;
}

.view{
  background-color: $whitepurple;
  flex-grow:1;

}

.inactive{
  display:none;
  transition: 1s ease-in-out;
}

.narrow-container{
  width: 70%;
}

.message-background{
  background-color: $lightpurple;
  padding: 10px 20px 4px;
  border-radius:20px;
  margin-bottom: 20px;
}