.header{
  display: flex;
}

.character-right{
	text-align: center;
	position:relative;
	top: -20px;
	h1{
	  text-transform:uppercase;
    font-size: 48px;
	}

	h5{
	  font-size: 14px;
	}

	p{
		padding: 30px;
		font-size: 18px;
	}
}

.square-image{
  width: 300px;
  height: 300px;
  object-fit: cover;
	border-radius: 50%;
	border: 4px solid $lavenderpurple;
}

.category{
	display:flex;
	margin: 40px 0 20px;
	justify-content: space-between;
  h2{
		display: inline-block;
	}
	p{
		display:inline-block;
		background-color: $lightpurple;
		padding: 15px 30px;
		border-radius: 40px;
		margin: 0;
	}
	a{
		color: $darkpurple;
		font-weight: bolder;
	}
}

.toggle-section{
	position:relative;
	top: -20px;
	width: 1170px;
}

.content{
	margin-top: 10px;
	display: flex;

	.personality-leftbox{
		box-sizing: border-box;
		padding: 30px;
		background-image: linear-gradient($darkpurple, $lavenderpurple);
		width: 270px;
		max-height: 380px;
		border-radius: 20px;
		margin-right: 40px;
		color: $lightpurple;
	}

	.personality-rightbox{
		box-sizing: border-box;
		padding: 30px 40px;
		background-color: $lightpurple;
		width: 800px;
		max-height: 380px;
		border-radius: 20px;
		overflow-y: auto;
	}
}

.square-card{
	position: relative;
	align-items: center;
    width: 270px;
	height: 200px;
	background-color: $darkpurple;
	border-radius: 20px;
	margin-right: 40px;
	margin-bottom: 20px;
	.card-image{
		width: 100%;
	    height: 110px;
		object-fit: cover;
		border-radius:20px;
	}	
	.card-body{
		width: 270px;
		padding: 5px 20px;
		color: $lightpurple;
	}
	h3{
      margin: 0;
	  white-space: nowrap;
	  overflow:hidden;
      
	}
	h5{
	  font-size: 18px;
	  margin: 0;
	}
	p{
	  font-size: 14px;
	  margin: 5px;
	}
}

.horizontal-cards{
    overflow-x: auto;
    white-space: nowrap;
}
.big-card{
  width: 400px;
  height: 250px;
  .big-image{
	height:100px;
  }
  p{
	height: 50px;
	white-space: normal;
	word-wrap: break-word;
	overflow: hidden;
  }
  .card-body{
	width: 400px;
	height: 150px;
  }
}

.full-box{
	display: inline-block;
	box-sizing: border-box;
	padding: 30px 40px;
	background-color: $lightpurple;
	max-height: 400px;
	width: 100%;
	border-radius: 20px;
	overflow-y: auto;
}

.goals-leftbox{
	box-sizing: border-box;
	padding: 30px;
	background-color: $lavenderpurple;
	width: 580px;
	height: 380px;
	border-radius: 20px;
	margin-right: 40px;
	overflow-y: auto;

	.goal-card{
	  display: flex;
	  width: 500px;
	  justify-content: space-between;
	  border-radius: 10px;
	  background-color: $lightpurple;
	  margin-bottom: 20px;
	}

	h4{
   padding: 20px 30px 10px;
	}
}
.goalcard-left{
  height: 100%;
	width: 440px;
	background-color: $darkpurple;
	color: $lightpurple;
  padding: 15px 30px;
	border-radius: 10px;
}

.goals-rightbox{
  display: flex;
  width: 500px;
  justify-content: space-around;
  align-items: center;

  .right-statsbox{
	width: 100px;
	align-items: right;
  }
}

.thread-content{
  flex-wrap: wrap;
	max-height: 600px;
	overflow-y:auto;
}
.thread-card{
  display: flex;
  width: 1140px;
  height: 120px;
  margin-bottom: 10px;
  padding: 5px 30px;
  background-image: linear-gradient(270.05deg, $lavenderpurple 19.59%, $darkpurple 66.53%);
  color: $lightpurple;
  border-radius: 20px;

  h4{
	margin: 0;
	padding: 0;
  }

  h5{
	margin: 0;
	padding: 0;
  }

  .align-right{
	text-align:right;
	color: $darkpurple;
  }

  a{
	color: $lightpurple;
	font-weight: bold;
  }
}

.small-body{
  padding: 5px;
}

.small-width{
  width: 300px;
	display:flex;
  flex-wrap: wrap;
	flex-direction: column;
  padding: 5px 10px;
  margin-bottom: 10px;
  h4{
	
	font-size: 18px;
  }
  h5{
	font-size: 14px;
  }

  .align-right{
    font-size: 12px;
  }
}

