<div class="container">
  <%= simple_form_for([@character, @goal]) do |f| %>
    <%= f.input :goal_name %>
    <%= f.input :goal_detail %>
    <%= f.submit 'Submit', class: "form-button"  %>
  <% end %>
</div>
